* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

i,
svg {
  pointer-events: none;
}

.kick-pad,
.snare-pad,
.hihat-pad {
  width: 5rem;
  height: 5rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
}

.kick-pad {
  background: rgb(160, 211, 224);
}

.snare-pad {
  background: rgb(224, 160, 208);
}

.hihat-pad {
  background: rgb(224, 194, 160);
}

.kick-pad.active {
  background-color: rgb(59, 197, 231);
}

.snare-pad.active {
  background-color: rgb(218, 58, 178);
}

.hihat-pad.active {
  background-color: rgb(241, 158, 64);
}

.sequencer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.kick-track,
.snare-track,
.hihat-track {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
}

.kick,
.snare,
.hihat {
  display: flex;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0 2rem;
}

.controls button {
  padding: 1rem;
  border: none;
  background-color: rgb(88, 88, 88);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.pad {
  transition: all 0.5s ease;
}

.play {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background-color: rgb(88, 88, 88);
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 3rem;
}

select {
  padding: 1rem;
  font-size: 1rem;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.2);
  }
}
